<div class="ui center aligned footer container">
  <hr>
  <div class="ui stackable container">
    <div class="ui grid">
      <div class="two column row">
        <div class="left aligned column">
          <button class="ui right labeled icon red small button" type="submit">
            <i class="sign out icon"></i>
            Experiment Beenden
          </button>
        </div>
        <div class="right aligned column">
          <div class="ui container">
            © Copyright 2017 Universität Heidelberg
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
