<% include partials/header %>

<body class="main">
<div class="wrap">
  <div class="ui stackable container">
    <div class="ui stackable grid container center aligned">
      <h1 class="ui inverted header">
        Experiment beendet
      </h1>
      <div class="ui left aligned raised padded text segment" id="info">
        <p>Wir haben Sie getäuscht. Die Rückmeldung, ob die gesprochenen Aussagen
        der Wahrheit entsprochen haben oder nicht, war rein zufällig.
        Es sollte lediglich Ihre Motivation erhöhen, den "Lügendetektor" auszutricksen.</p>
        <hr>
        <p>Vielen Dank für Ihre Teilnahme!</p>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
