<% include partials/header %>

<body class="main">
<div class="wrap">
  <div class="ui stackable container">
    <div class="ui stackable grid container center aligned">
      <h1 class="ui inverted header">
        Experiment beendet
      </h1>
      <div class="ui left aligned raised padded text segment" id="info">
        <h2>Vielen Dank für Ihre Teilnahme</h2>
		  <p>Zum Schluss möchten wir Ihnen noch ein paar weitere Informationen zu diesem Experiment geben. Wir versuchen ein statistisches Modell zu entwickeln, welches anhand von Audio-Daten erkennen kann, ob eine Person lügt oder die Wahrheit sagt. Hierfür benötigen wir Daten, die wir mithilfe dieser Studie erheben möchten. Momentan basieren die Rückmeldungen, die Sie bekommen haben und nach denen die Punkte vergeben wurden, noch nicht auf einem intelligenten System, sondern lediglich auf Zufall. In zukünftigen Studien werden wir untersuchen, inwiefern eine Klassifikation funktioniert und dann ein besseres Feedback-System verwenden, als das bisher der Fall ist.</p>
		  <p>Wir danken Ihnen für Ihr Verständnis!</p>
		  <p>Box mit Email kommt noch ---> :)</p>
        <hr>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
