<% include partials/header %>


<div class="ui stackable container centered-on-screen">
  <div class="ui stackable grid container center aligned">
    <div class="ui horizontal divider">Experiment beendet</div>
    <div class="ui text container">
      Wir haben Sie getäuscht. Die Rückmeldung, ob die gesprochenen Aussagen
      der Wahrheit entsprochen haben oder nicht, war rein zufällig.
      Es sollte lediglich Ihre Motivation erhöhen, den "Lügendetektor" auszutricksen.
    </div>
  </div>
</div>


<% include partials/footer %>
