<% include partials/header_main %>

<div class="pusher">
  <div class="ui stackable container centered-on-screen">
    <div class="ui stackable grid container center aligned">
      <div class="one column row">
        <div class="column">
          <div class="ui text container">
            <h1 class="ui inverted header">
              Willkommen zu der Lügen-Detektionsstudie!
            </h1>
            <h2>Hier geht's los!</h2>
            <a href="register">
              <div class="ui blue huge button">Zum Experiment
                <i class="right arrow icon"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
