<% include partials/header %>

<body class="main">
  <div class="wrap">

    <!-- Explanation -->
    <div class="ui stackable container">
      <div class="ui stackable grid container center aligned">
        <div class="one column row">
          <div class="column">
            <h1 class="ui inverted header">
              Beschreibung des Experiments
            </h1>
            <div class="ui left aligned raised padded text segment" id="info">
              <p>In der folgenden	Studie	werden	Sie	aufgefordert	anzugeben, wie sehr bestimmte	Aussagen
              auf	Sie	zutreffen. Eine	Beispiel-Aussage wäre:</p><br>
              <img class="ui image padded segment screenshot" src="/images/question-example.png">
              <br><br>
              <p>In unregelmäßigen Abständen bitten	wir	Sie, die	zuvor	gezeigte	Aussage, oder die
              Umkehrung	dieser Aussage, in ein	Mikrofon zu	sprechen.
              Zum	Beispiel	taucht	folgende	Anweisung	auf:</p><br>
              <img class="ui image padded segment screenshot" src="/images/record-example.png">
              <br>
              <p>Das	von	Ihnen	Gesprochene	wird	im	Anschluss	überprüft	und	Sie	bekommen unmittelbar
              Rückmeldung,	ob	Ihre	Aussage	als	Wahrheit	oder	Lüge	klassifiziert	wurde. Ihre	Aufgabe	ist
              es,	dass	möglichst	viele	Ihrer	Aussagen	als	Wahrheit	deklariert werden.</p>
              <p>Sobald	Sie	auf	‚Aufnahme	starten’	klicken,	verschwindet	die	Aussage	und	Sie	können	mit
              dem	Sprechen	beginnen.	Die	Aufnahme	stoppt	automatisch	nach 3 Sekunden und	die	Studie
              wird fortgeführt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stackable container">
      <div class="ui stackable grid container center aligned">
        <div class="one column row">
          <div class="column">
            <h1 class="ui inverted header">
              Demografische Daten
            </h1>
            <div class="ui raised padded text segment">
            <form class="ui form" method="POST" action="register">
              <div class="two fields">
                <div class="field">
                  <label>Alter</label>
                  <input name="age" placeholder="Alter" type="text" pattern="\d*" required>
                </div>
                <div class="field">
                  <label>Beruf</label>
                  <input name="education" placeholder="z.B. Studierende" type="text" required>
                </div>
              </div>
              <div class="two fields">
                <div class="field">
                  <label>Geschlecht</label>
                  <div class="ui selection dropdown">
                    <input name="gender" type="hidden" value="2">
                    <i class="dropdown icon"></i>
                    <div class="default text">Keine Angabe</div>
                    <div class="menu">
                      <div class="item" data-value="0">Weiblich</div>
                      <div class="item" data-value="1">Männlich</div>
                      <div class="item" data-value="2">Keine Angabe</div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Muttersprache</label>
                  <div class="ui selection dropdown">
                    <input name="language" type="hidden" value="1">
                    <i class="dropdown icon"></i>
                    <div class="default text">Deutsch</div>
                    <div class="menu">
                      <div class="item" data-value="1">Deutsch</div>
                      <div class="item" data-value="0">Andere</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="ui right labeled icon blue button" type="submit">
                <i class="right arrow icon"></i>
                Weiter
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>

<% include partials/footer %>
