<% include partials/header %>

<body class="main">
  <div class="wrap">

    <!-- Explanation -->
    <div class="ui stackable container">
      <div class="ui stackable grid container center aligned">
        <div class="one column row">
          <div class="column">
            <h1 class="ui inverted header">
              Beschreibung des Experiments
            </h1>
            <div class="ui left aligned raised padded text segment" id="info">
              <p>In der folgenden	Studie	werden	Sie	gelegentlich aufgefordert, entweder zu lügen oder aber die Wahrheit zu sagen. Das Ziel ist es, bei Ihren Lügen nicht ertappt zu werden. Je häufiger Ihnen das gelingt, desto mehr Punkte erhalten Sie.</p>
              <p>Sie werden zunächst aufgefordert, auf einer Skala anzugeben, wie sehr bestimmte Aussagen auf Sie zutreffen.</p>
              <p>Ein Beispiel:</p>
              <p><em>Ich bin offen gegenüber neuen Erfahrungen.</em></p>
              <p>Sie werden nach Angabe Ihrer Antwort zufällig dann entweder der Lügen- oder aber der Wahrheitsbedingung zugeordnet.</p>
              <p>Wenn Sie der Aussage zugestimmt haben, Sie also offen gegenüber neuen Erfahrungen sind, und in der Wahrheitsbedingung sind, dann werden Sie aufgefordert, die Aussage "Ich bin offen gegnüber neuen Erfahrungen" zu sprechen.</p>
              <p>Wenn Sie der Aussage zugestimmt haben, nun aber zufällig in der Lügenbedingung sind, so werden Sie aufgefordert, z. B. die folgende Aussage zu sprechen: "Ich meide es, neue Erfahrungen zu machen". Diese Aussage entspräche dann einer Lüge.</p>
              <p>Sie entscheiden immer, wann Sie mit der Aufnahme Ihrer Antwort beginnen möchten. Sobald Sie auf <strong>Aufnahme starten</strong> klicken, verschwindet die Aussage und Sie können mit dem Sprechen beginnen.</p>
              <p>Die Aufnahme stoppt automatisch nach wenigen Sekunden und die Studie wird fortgeführt. </p>
              <p>Nach jeder gesprochenen Aussage wird ein Algorithmus versuchen zu erkennen, ob Sie die Wahrheit gesprochen haben, oder aber gelogen haben. Sie bekommen dann unmittelbar Rückmeldung. Sie erhalten immer einen Punkt, wenn der Algorithmus entscheidet, dass Ihre Aussage der <strong>Wahrheit</strong> entspricht. Je glaubwürdiger Sie also sind, desto höher Ihre endgültige Punktzahl.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stackable container">
      <div class="ui stackable grid container center aligned">
        <div class="one column row">
          <div class="column">
            <h1 class="ui inverted header">
              Demografische Daten
            </h1>
            <div class="ui raised padded text segment">
            <form class="ui form" method="POST" action="/register">
              <div class="two fields">
                <div class="field">
                  <label>Alter</label>
                  <input name="age" placeholder="Alter" type="text" pattern="\d*" required>
                </div>
                <div class="field">
                  <label>Beruf</label>
                  <input name="education" placeholder="z.B. Student" type="text" required>
                </div>
              </div>
              <div class="two fields">
                <div class="field">
                  <label>Geschlecht</label>
                  <div class="ui selection dropdown">
                    <input name="gender" type="hidden" value="2">
                    <i class="dropdown icon"></i>
                    <div class="default text">Keine Angabe</div>
                    <div class="menu">
                      <div class="item" data-value="0">Weiblich</div>
                      <div class="item" data-value="1">Männlich</div>
                      <div class="item" data-value="2">Keine Angabe</div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Muttersprache</label>
                  <div class="ui selection dropdown">
                    <input name="language" type="hidden" value="1">
                    <i class="dropdown icon"></i>
                    <div class="default text">Deutsch</div>
                    <div class="menu">
                      <div class="item" data-value="1">Deutsch</div>
                      <div class="item" data-value="0">Andere</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="ui right labeled icon blue button" type="submit">
                <i class="right arrow icon"></i>
                Weiter
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>

<% include partials/footer %>
