
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size:50px 50px;
}

.wrap {
  margin-top: 5em;
  flex: 1 0 auto;
}

.question-wrap {
  /* Approximately centered */
  margin-top: 35%;
  flex: 1 0 auto;
}

.ui.footer {
  flex-shrink: 0;
  padding: 20px;
}

#info {
  font-size: 1.2em;
}

.centered-on-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#siri-container {
  visibility: hidden;
}

#scale {
  font-size: 3em;
}

.question {
  margin-bottom: 1em;
}
